AWS_ACCESS_KEY_ID="Aqui va tu llave de acceso"
AWS_SECRET_ACCESS_KEY="aqui va tu llave secreta"
AWS_STORAGE_BUCKET_NAME="aqui el nombre de tu bucket aws"
AWS_S3_REGION_NAME="aqui va la region de tu bucket"